@import "./_vars.scss";
.clearfix{
    clear:both;
}

.reset-all{
    all:initial;
}
h1{
    font-weight:bold;
}

#SNModal .SNHeader {
        cursor: default;
    }

    .SNHeader {
    height: 15px;
    margin-right: -30px;
    margin-left: -30px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: $primary;
    text-align: right;
    cursor:move;
}

//*** BUTTONS *** //
.SNBtnCancel, .SNBtnAction, .SNBtnSubmit, .SNBtnWarn {
    border: 1px solid $grey;
    font-family: Verdana,Arial,sans-serif;
    margin: 4px 16px 4px 0;
    padding: 2px 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.24);
    color: #fff;
    text-transform: none;
    height: 32px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;

}

.SNBtnWarn {
    background-image: linear-gradient(to bottom, $warning, darken($warning,15%));
    color: #1a1a1a !important;
    &:hover{
        background-image: linear-gradient(to bottom, darken($warning,10%),darken($warning,25%));
    }
}

.SNBtnAction {
    background-image: linear-gradient(to bottom, $secondary, darken($secondary,15%));
    &:hover{
        background-image: linear-gradient(to bottom, darken($secondary,10%),darken($secondary,25%));
    }
}

.SNBtnSubmit, .SNNewNoteSubmit {
    background: linear-gradient(to bottom, $primary, darken($primary,15%) );
    font-weight:bold;
    &:hover{
        background-image: linear-gradient(to bottom, darken($primary,10%),darken($primary,25%));
    }
}

.SNBtnCancel {
    background: linear-gradient(to bottom, #a8a8a8,#878787 );
}