.dbAutoModBan {
    margin: 0 5px 0 5px;
    background-color: yellow;
    padding: 2px 4px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

    .dbAutoModBan a {
        cursor: pointer;
        text-decoration: underline;
    }

    .dbAutoModBan > span {
        font-weight: bold;
    }

.SNModAction 
{
  font-family: Verdana;
  color: black;
  background-color: #F0F3FC;
  font-weight: bold;
  font-style: italic;
  font-size: 11px;
  padding: 4px;
}

.SNModActionWarning{
    background-color:yellow;
}