
.SNViewContainer, .SNNew {
    position: absolute;
    z-index: 25000;
    background-color: white;
    border: darkgrey 1px solid;
    min-width: 572px;
    max-width: 750px;
    border-radius: 10px;
    min-height: 150px;
    padding: 10px;
    overflow: hidden;
}

    .SNViewContainer table {
        background-color: white;
        width: 100%;
        table-layout: fixed;
    }

.SNHeader {
    height: 15px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-right: 15px;
    background-color: grey;
    text-align: right;
}
.SNDeleteNote{
    position:absolute;
    top:1px;
    right:5px;
    cursor:pointer;
}
.SNViewContainer td {
    border: 1px grey solid;
    padding: 5px;
}

.SNViewContainer tr {
    display: table-row;
}

.SNSubName, .SNSubmitter {
    text-align: center;
    width: 135px;
    word-wrap: break-word;
}

.SNSubName {
    border-radius: 10px 0 0 10px;
}

.SNMessage {
    border-radius: 0 10px 10px 0; 
    position:relative;
}

.SNCloseNote, .SNCloseNewNote {
    color: black;
    cursor: pointer;
}

.SNViewNotes, .SNNoNotes {
    cursor: pointer;
}

.SNViewNotes{
    font-weight:bold;
}


.SNNewNote {
    margin-left: -200px;
    padding-left: 50%;
    padding-top: 10px;
    height: 81px;
}

.SNNewMessage {
    height: 75px;
    resize: none;
    width: 400px;
}

.SNNewNoteSubmit {
    width: 65px;
    padding: 5px;
    margin-left: 15px;
    height: 34px;
    vertical-align: middle;
    position: relative;
    top: -36px;
}

.SNNoteType{
    text-align:center;
    margin-top:10px;
}
.SNNoteType input[type="radio"]{
    vertical-align:top;
}
.SNNoteType label{
    display:inline-block;
}