@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<SnooNotes.Models.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-8">
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <p style="padding-top:5px;">You need to authorize SnooNotes to access your Reddit info. Otherwise it's kinda useless...</p>
                <p>
                    SnooNotes requests the following Reddit "scopes" to work, but will never use or publish any info except in the course of its designed functions.
                </p>
                <ul style="margin-top:-5px;margin-bottom:0px;">
                    <li><strong>Identity:</strong> Public profile info to validate your username</li>
                    <li><strong>MySubreddits:</strong> Used to validate what subreddits you moderate, this is critical to authorization to protect notes</li>
                </ul>
                <span style="font-weight:bold;font-size:20px;">Optional Permissions: <span style="font-size:12px;">Select check boxes below to allow</span></span>
                <ul style="margin-bottom:5px; list-style:none;">
                    <li><label style="font-weight:normal;cursor:pointer"><input name ="config" value="true" id="chkScopeConfig" type="checkbox" checked="@ViewBag.Read" class="optScope" /><strong>Config:</strong> Used to allow automod banning of users through the extension. If not checked, you will not have the option to bot ban users. You will still be able to bot ban channels though.</label></li>
                    <li><label style="font-weight:normal;cursor:pointer"><input name ="wiki" value="true" id="chkScopeWiki" type="checkbox" checked="@ViewBag.Wiki" class="optScope" /><strong>WikiRead:</strong> Used to import Moderator Toolbox Usernotes into SnooNotes.</label></li>
                </ul>

                <p>To see the full list of actions these permissions give SnooNotes, please visit <a href="https://www.reddit.com/dev/api/oauth">Reddit's API Documentation</a> and look them up by the scopes listed above. </p>
                <button name="provider" value="Reddit" type="submit" class="doLogin" style="background: linear-gradient(to bottom, #74c429, #4ca20b ); font-weight:bold;margin:0px auto;padding: 2px 18px; color:#fff; height:32px; font-size:16px; font-weight:bold;border-radius:2px;border:1px solid darkgrey;display:block;">Login!</button>
            </form>
        
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync( "_ValidationScriptsPartial" ); }
}
