<h1>{{sub.SubName}}</h1>

<p>This is where you'll be able to manage all aspects of your subreddit outside of the addon's "Options" page on Reddit itself.</p>
<p>More features will be coming including the ability to search all notes you have etc! But right now, this is where you can import all your notes from Mod Toolbox into SnooNotes.</p>
<div class="importTBNotes boxArea">
    <h2>Import Toolbox Notes</h2>
    <p>Select the SnooNotes note types that you want to map Toolbox notes to below. No notes will be deleted from either system during this process, only notes that exist in Toolbox and don't exist in SnooNotes will be imported. </p>
    <form name="frmImportTBNotes" ng-submit="importNotes()" ng-show="currentUser.hasWikiRead">
        <div>
            <table>
                <tr>
                    <td>
                        <span class="tbNone tbType">None</span>
                    </td>
                    <td>
                        <select name="tbNoneMapping" ng-model="import.snNone" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbGoodContributor tbType">Good Contributor</span>
                    </td>
                    <td>
                        <select name="tbGoodContributorMapping" ng-model="import.snGoodUser" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbSpamWatch tbType">Spam Watch</span>
                    </td>
                    <td>
                        <select name="tbSpamWatchMapping" ng-model="import.snSpamWatch" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbSpamWarning tbType">Spam Warning</span>
                    </td>
                    <td>
                        <select name="tbSpamWarningMapping" ng-model="import.snSpamWarn" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbAbuseWarning tbType">Abuse Warning</span>
                    </td>
                    <td>
                        <select name="tbAbuseWarningMapping" ng-model="import.snAbuseWarn" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbBan tbType">Ban</span>
                    </td>
                    <td>
                        <select name="tbBanMapping" ng-model="import.snBan" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbPermaBan tbType">Perma Ban</span>
                    </td>
                    <td>
                        <select name="tbPermaBanMapping" ng-model="import.snPermBan" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="tbBotBan tbType">Bot Ban</span>
                    </td>
                    <td>
                        <select name="tbBotBanMapping" ng-model="import.snBotBan" styled-dropdown ng-options="nt.DisplayName for nt in sub.Settings.NoteTypes" required options-style="{'color':'#'+ColorCode,'font-weight':Bold ? 'bold' : 'normal','font-style':Italic?'italic':'normal'}">
                            <option value="" style="color:#000;font-weight:bold;font-style:normal;">--Select Note Type--</option>
                            <!--<option ng-repeat="nt in sub.Settings.NoteTypes" value="{{nt.NoteTypeID}}" ng-selected="nt.DisplayName.toLowerCase() == 'bot ban'">{{nt.DisplayName}}</option>-->
                        </select>

                    </td>
                </tr>
            </table>
            <input type="submit" class="snSubmit" value="Import Notes" ng-hide="importing||imported||error" />
            <div ng-show="importing"><h2>Importing notes...</h2></div>
            <div ng-show="imported"><h2>Notes have been imported!</h2></div>
            <div ng-show="error"><h2 style="color:red;">An error occured. Blame /u/meepster23 ..</h2></div>
        </div>
    </form>
    <div ng-show="!currentUser.hasWikiRead">
        <h2>
            You need to log in with 'Wiki' access to be able to import notes from Moderator Toolbox!
        </h2>
    </div>
</div>
<div class="boxArea">
    <h2>Codeword Dirtbag Reddit Bot Integration</h2>
    <form name="frmBotIntegration" ng-submit="updateSub()">
        <label class="control-label" for="url">URL</label>
        <input type="text" class="form-control" name="url" ng-model="sub.BotSettings.DirtbagUrl" placeholder="For the love of all that is holy, use https!" />
        <label class="control-label" for="username">Username</label>
        <input type="text" class="form-control" id="username" ng-model="sub.BotSettings.DirtbagUsername"/>
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control" name="password" ng-model="sub.BotSettings.DirtbagPassword" placeholder="{{sub.BotSettings.DirtbagUrl && !urlChanged() ? 'Saved' : ''}}"/>

        <div class="buttonContainer">
            <input type="button" class="snInfoButton" value="Test" ng-click="testDirtbag()" />
            <input type="submit" class="snSubmit" value="Save" ng-disabled="updating" />
            <input type="button" class="snInfoButton" value="Reset" ng-click="reset()" ng-hide="frmBotIntegration.$pristine" />
            <div class="message" ng-class="{hasError: !successMessage, success: successMessage}">{{dirtbagMessage}}</div>
        </div>
    </form>
</div>