<h1>Home of SnooNotes. A mod note addon for Reddit</h1>
<h3>Currently in Alpha 0.0.9</h3>
<button type="button" class="btn btn-success" onclick="location.href = '/gettheawesome';">Get The Awesome!</button>
<h1>Features</h1>
<div class="snFeature">
    <h3>Highlights</h3>
    <ul>
        <li><strong>*NEW!* Share notes with other subreddits using the "Cabal"! See <a href="https://reddit.com/r/SpamCabal">/r/SpamCabal</a> for more details</strong></li>
        <li>Notes are pushed in real time to all other mods using the addon, no need to refresh the page!</li>
        <li>Database storage with change tracking and half hour backups</li>
        <li>Fully customizable note types and granular access controls</li>
        <li>Bare minimum Reddit permissions to use, can enable more for advanced features</li>
        <li>Import existing notes from Moderator Toolbox</li>
        <li>Compatible alongside Toolbox and RES</li>
        <li>Automatic note creation when banning users!</li>
        <li>It's not SkyNet</li>
    </ul>
</div>
<div class="snFeature">
    <h3>Fully integrates into Reddit</h3>
    <img src="../Content/sn1.png" />
    <span>
        Addon gives you all of your usernotes in the exact same way you are already used to in Moderator Toolbox!
    </span>
</div>
<div class="snFeature">
    <h3>Settings dashboard</h3>
    <div class="alignCenter">
        <img data-featherlight="../Content/sn2.png" src="../Content/sn2thumb.png" />
        <img data-featherlight="../Content/sn3.png" src="../Content/sn3thumb.png" />
    </div>
    <span>
        Full, granular control over access to your subreddit's notes and note types!
    </span>
</div>
<div class="snFeature">
    <h3>Future Updates</h3>
    <span>These are features that are planned to be implemented some time in future releases. They are roughly ordered in priority / likely order completed.</span>
    <ul>
        <li>
            Ability to search user notes
        </li>
        <li>
            Improved "View Note" button / interface
        </li>
        <li>
            Export SnooNotes to Moderator Toolbox
        </li>
        <li>
            Enable notes on submissions instead of users
        </li>
        <li>
            Live "X is responding to this modmail" updates
        </li>
        <li>
            Ask for second opinion of online mods 
        </li>
        <li>
            Bot integration
        </li>
        <li>
            Global spam flagging of users?
        </li>
    </ul>
</div>