@{
    Layout = null;
}
<h1>Logging in...</h1>

<script type="text/javascript">
    window.location.href = "/Auth/ExternalLoginCallback@(!String.IsNullOrEmpty(ViewBag.redirectUrl) ? "?redirectUrl=" + ViewBag.redirectUrl : "")";

</script>