body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color:#46b2b2;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default,.navbar-login{
    /*background-color:#222;*/
    background-color:whitesmoke;
    color:#007C00;
    border-color:darkgray;
}
.navbar-login {
    border:none;
    margin-bottom:0px;
}
.navbar-default .navbar-brand{
    color:#00CC00;
    font-size:3em;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #009E00;
}
.navbar-header{
    padding:0px 25px 0px 0px;
}

.navbar-default .container-fluid .container{
    padding:0px 10px;
    /*border: solid darkgrey;
    border-width:0px 1px;
    border-radius:10px;*/
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover{
    background-color:#ddd;
}

.navbar-nav>li{
    margin-right:10px;
}

a:hover, a:focus {
    color: #008000;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0 none;
}
a {
    color: #00cc00;
    text-decoration: none;
    cursor:pointer;
}

.navbar-nav{
    margin:7.5px 0px;
}

.navbar-left{
    position: relative;  
    top: 8px;
    font-size:16px;
}

.currentSubNav{
    cursor:pointer;
}

.navbar-main a{
    color: #008000;
    text-decoration:none;
}

#SnooNotesLoginFrame{
    width:100%;
    height:100%;
}
.loginModal{
    height:410px;
}

.loginModalContent{
    padding: 0px 15px 10px 15px;
}

.loginModalContent p{
    margin-bottom:5px;
}
.optScope{
    position: relative !important; 
    left: -15px !important; 
    margin-right:-12px !important; 
    vertical-align:top !important;
    cursor:pointer;
}

.importTBNotes table{
    display:inline-table;
    margin:10px;
    vertical-align:middle;
}
.importTBNotes td{
    padding:5px 10px 0px 0px;
}

.importTBNotes input[type=submit]{
    vertical-align:middle;
}

.importTBNotes select{
    width:200px;
}

div.importTBNotes{
    background-color:whitesmoke; 
    padding:5px 10px 10px 10px;
    border-radius:5px;
    box-shadow: 4px 6px 4px 0px rgba(169, 169, 169, 0.75);
    border:1px solid lightgrey;
}

.snFeature{
    background-color:whitesmoke; 
    padding:5px 10px 10px 10px;
    border-radius:5px;
    box-shadow: 4px 6px 4px 0px rgba(169, 169, 169, 0.75);
    border:1px solid lightgrey;
    margin:0px 0px 10px 0px;
}
.snFeature img{
    display:inline-block;
    max-height:400px;
    cursor: -webkit-zoom-in;
    cursor:zoom-in;
    margin:5px;
    border-radius:5px;

}
.snFeature span{
    font-weight:bold;
    padding-top:10px;
    display:inline-block;
}
.snSubmit{
    background: linear-gradient(to bottom, #74c429, #4ca20b ); 
    font-weight:bold;
    padding: 2px 18px;
    color:#fff; 
    height:32px; 
    font-size:16px; 
    font-weight:bold;
    border-radius:2px;
    border:1px solid darkgrey;
}

.alignCenter{
    margin:0 auto;
    width:100%;
    text-align:center;
}