<h1>Future home of SnooNotes mod note addon for Reddit</h1>
<h3>Currently in Alpha .4</h3>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GetTheAwesome","Home")'">Get the awesome!</button>